<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/pico.min.css">
    <link rel="icon" type="image/x-icon" href="/favicon.ico">

    {% seo %}
  </head>
  <body>
    <header class="container">
      <h1>{{ site.title }} ✍️</h1>

      <p>{{ site.description }}.</p>
    </header>

    <main class="container">
      {{ content }}
    </main>

    <footer class="container">
      <hr>
      <small>💌 Visit <a href="https://github.com/thank-you-php/thank-you-php">Thank You PHP</a> on GitHub for more information.</small>
    </footer>
  </body>
</html>
